<div class="container">

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Students Management Angular Application</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-6">
      <div class="smenu">
        <h3>Student Details</h3>
        <button type="button" class="btn btn-success" routerLink="/addstu">Add Student</button>
        <button type="button" class="btn btn-danger">Logoff</button>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../assets/img1.png" alt="" height="200px" width="me-auto">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
            <th scope="col"></th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of students">
            <th scope="row">{{s.id}}</th>
            <td>{{s.name}}</td>
            <td>{{s.score}}</td>
            <td><button type="button" class="btn btn-warning" routerLink="/studetail">Details</button></td>
            <td><button type="button" class="btn btn-dark" routerLink="/editstu">Edit</button></td>
            <td><button type="button" class="btn btn-danger">Delete</button></td>
          </tr>

        </tbody>
      </table>


    </div>
    <div class="col-md-6">
      <div class="scardhead">
        <h3>Action Place</h3>
      </div>
      <div class="stucard">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


</div>